.top-bar{
    background-color: #FF1493;
    color: antiquewhite;
    padding-left: 25px; 
    padding-top :20px;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.msg{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    padding-left: 35%;
}
.form-holder{
    float: left;
    padding-top:30px;
    padding-left: 5%;
     
}
.main-container{
    background:#FFB6C1;
}
.submsg{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    padding-left: 38%;
}
.email,.password{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 5%;
    padding-top: 10px;
    
}

.loginbtn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 5%;
    padding-top: 10px;
    
}
.btn{
    border-radius: 8px;
    background-color: #4CAF50;
    padding: 10px;
    color: antiquewhite;
}
.b2{
    border-radius: 8px;;
    background-color: #00bfff;
    padding: 10px;
    color: antiquewhite;
}
.r2,.r3,.r4,.r5,.r6{
    padding-top: 20px;
}
.rf{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.regform{
    padding-top: 2%;
    padding-right: 1%;
    float: right;
   width: 500px;
}
input{
    width :400px;
}

